<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>321252969804-thr7m9i7mu5ibng1f7b976ptqj18e44r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.321252969804-thr7m9i7mu5ibng1f7b976ptqj18e44r</string>
	<key>API_KEY</key>
	<string>AIzaSyAuP-uhIq9mkIC1Q_0mUxyIelQpZvqDJE4</string>
	<key>GCM_SENDER_ID</key>
	<string>321252969804</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cheetah.foodapp</string>
	<key>PROJECT_ID</key>
	<string>food-app-4f261</string>
	<key>STORAGE_BUCKET</key>
	<string>food-app-4f261.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:321252969804:ios:10a772ddc0c96bc8f113e9</string>
</dict>
</plist>